{% extends 'base.html' %}

{% block title %} Data_visning {% endblock %}

{% block content %}
<title>Page Title</title>
</head>
<body>
<div class="page">
<div class="header">
<H1> Visning af Data <H1>
 
 </div>
 <div class="content">
   <iframe width="1200" height="600" src="https://lookerstudio.google.com/embed/reporting/19edc151-d151-491f-9979-8e629249f4ce/page/U14YE" frameborder="0" style="border:0" allowfullscreen sandbox="allow-storage-access-by-user-activation allow-scripts allow-same-origin allow-popups allow-popups-to-escape-sandbox"></iframe>
 </div>
{% endblock %}