{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<h1>Bemærk at du skal være logget ind få at få adgang til funktionerne</h1>

<h2>Velkommen til Garn & Metervare's medarbejder portal</h2>
<p>Her er en kort beskrivelse af de forskellige muligheder:</p>

<ul>
    <li><strong>Home:</strong> Tilbage til startsiden.</li>
    <li><strong>Data Visning:</strong> Visning af jeres beholdning</li>
    <li><strong>protected_page:</strong> Vis af beskyttede oplysninger </li>
</ul>
{% endblock %}