
body {
    font-family: Arial, sans-serif;
}

.menu-bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu-bar li {
    float: left;
}

.menu-bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu-bar li a:hover {
    background-color: #111;
}

/* Ny stil for listeelementer i indholdet */
ul li {
    font-size: 18px;  /* Juster denne værdi for at ændre tekststørrelsen */
    margin-bottom: 10px;  /* Juster denne værdi for at ændre afstanden mellem elementerne */
}